<div id="<%= dom_id agenda_item %>">
  <p>
    <strong>Subject:</strong>
    <%= agenda_item.subject %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= agenda_item.details %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= agenda_item.done %>
  </p>

</div>
