<h1>Editing agenda item</h1>

<%= render "form", agenda_item: @agenda_item %>

<br>

<div>
  <%= link_to "Show this agenda item", @agenda_item %> |
  <%= link_to "Back to agenda items", agenda_items_path %>
</div>
