<h1>Editing committee meeting</h1>

<%= render "form", committee_meeting: @committee_meeting %>

<br>

<div>
  <%= link_to "Show this committee meeting", @committee_meeting %> |
  <%= link_to "Back to committee meetings", committee_meetings_path %>
</div>
