<div id="<%= dom_id sign_up %>">
  <p>
    <strong>First name:</strong>
    <%= sign_up.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= sign_up.last_name %>
  </p>

  <p>
    <strong>Paided:</strong>
    <%= sign_up.paided %>
  </p>

</div>
