<div id="<%= dom_id committee_agenda_item %>">
  <p>
    <strong>Subject:</strong>
    <%= committee_agenda_item.subject %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= committee_agenda_item.details %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= committee_agenda_item.done %>
  </p>

</div>
