<h1>Editing plc meeting</h1>

<%= render "form", plc_meeting: @plc_meeting %>

<br>

<div>
  <%= link_to "Show this plc meeting", @plc_meeting %> |
  <%= link_to "Back to plc meetings", plc_meetings_path %>
</div>

